
.container{
    width: 300px;
    padding: 5px;
    float: left;
}

#add{
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
    vertical-align: middle;
    background-color: whitesmoke;
    transition-duration: 0.4s;
}

#IF{
    height: 30px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    vertical-align: middle;
}

.paragraph-styling{
    background-color: rgb(173, 216, 230,0.3);
    font-size: 20px;
    border: 1px solid rgb(74, 166, 176);
    margin-top: 2px;
    font-family: 'Dancing Script', cursive;
    color: white;

}
    
input::placeholder{
    font-weight: bold;
    opacity: 0.5;
    font-size: large;
    color: rgb(248, 194, 127);
    font-family: 'Dancing Script', cursive;
}

body{
    /* background-color: aquamarine; */
    margin: 0;
    padding: 0;
}
h1{
    padding-left: 30px;
    color: white;
    font-family: 'Dancing Script', cursive;
}
#add:active{
    transform: scale(0.97);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
#add:hover{
    background-color: lightblue;
    box-shadow: 0 0 3px rgb(71, 70, 67);
}

#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    /*to make the height and width responsive*/
    width: 40vw;
    background: url('clock.jpg') no-repeat;
    /*setting our background image*/
    background-size: 110%;
    float: right;
    border: 1px solid black;
    border-radius: 259px;
}
#hour,
#minute,
#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 22%;
    top: 31%;
    left: 55.85%;

}

#minute {
    width: 1.6%;
    height: 34%;
    top: 19%;
    left: 55.9%;
}
  
#second {
    width: 1%;
    height: 30%;
    top: 23%;
    left: 56.25%;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size: 100vw;
}